<main class="principal">
  <div class="container">
    
    <div class="boas-vindas-simples">
      <h2>💊 Bem-vindo(a) à Gestão de Medicamentos!</h2>
      <p>Gerencie o estoque da sua farmácia com rapidez, organização e praticidade.</p>
    </div>
    
    <section class="destaques">
      <div class="destaque-cards">
        <a class="card" routerLink="/listar">
          <i class="fas fa-list-alt"></i>
          <h3>Listar e Excluir</h3>
          <p>Visualize e remova medicamentos do inventário com segurança.</p>
        </a>

        <a class="card" routerLink="/cadastrar">
          <i class="fas fa-plus-square"></i>
          <h3>Cadastrar Novos</h3>
          <p>Adicione novos lotes e mantenha o estoque sempre atualizado.</p>
        </a>

        <a class="card" routerLink="/consultar">
          <i class="fas fa-search-plus"></i>
          <h3>Consultar Medicamentos</h3>
          <p>Busque por medicamentos específicos com facilidade.</p>
        </a>
      </div>
    </section>
  </div>
</main>