<header class="cabecalho-container">
    <div class="cabecalho-principal">
        <h1 class="titulo">Gerenciamento de Medicamentos</h1>
        <nav class="menu">
            <ul>
              <li><a routerLink="/cadastrar" routerLinkActive="active">Cadastrar</a></li>
              <li><a routerLink="/consultar" routerLinkActive="active">Consultar</a></li>
              <li><a routerLink="/excluir" routerLinkActive="active">Excluir</a></li>
              <li><a routerLink="/listar" routerLinkActive="active">Listar</a></li>
            </ul>
        </nav>
    </div>
</header>